site_name: HStream Docs

theme:
  name: "material"
  font: false
  features:
    - instant
    - navigation.expand
    - tabs

plugins:
  - search

nav:
  - Home: index.md
  - Tutorial:
      - Quickstart with Docker: tutorial/quick-start-with-docker.md
  - Development:
      - Haskell style: development/haskell-style.md
      - Building from source: development/build-from-source.md

repo_url: https://github.com/hstreamdb/hstream
repo_name: hstreamdb/hstream

edit_uri: ""

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
