name: Deploy Docs

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04

    steps:
      - name: clone docs
        uses: actions/checkout@v2
        with:
          path: docs-files

      - name: clone frontend
        uses: actions/checkout@v2
        with:
          repository: "hstreamdb/hstreamdb-docs-frontend"
          path: frontend

      - name: use node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.15

      - name: set env
        run: |
          BRANCH=$(echo ${{ github.ref }} | sed -r  "s ^refs/heads/|^refs/tags/(.*) \1 g")
          if [ "$BRANCH" = "main" ];then
          VERSION="latest"
          else
          VERSION=$BRANCH
          fi
          echo "DOCSBRANCH=$BRANCH" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: move files
        run: |
          mkdir -p frontend/docs/en/${VERSION}/
          mkdir -p frontend/docs/zh/${VERSION}/
          cp -r docs-files/en/* frontend/docs/en/${VERSION}/ || true
          cp -r docs-files/zh/* frontend/docs/zh/${VERSION}/ || true
          cp -r docs-files/directory.json frontend/docs/directory.json
          rm frontend/*.md

      - name: build docs
        run: |
          cd frontend
          yarn && yarn build

      - name: use python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"
          architecture: "x64"

      - name: upload dist
        run: |
          if [ "${{ github.event_name }}" == 'push' ]; then
            pip3 install coscmd
            coscmd config -a ${{ secrets.COS_ID }} -s ${{ secrets.COS_KEY }} -b ${{ secrets.COS_NAME }} -r ${{ secrets.COS_REGION }}
            coscmd delete -r -f docs/en/${VERSION} || true
            coscmd delete -r -f docs/zh/${VERSION} || true
            coscmd upload -r frontend/.vuepress/dist/ /
          else
            echo "Ignoring."
          fi

      - name: flush CDN
        run: |
          if [ "${{ github.event_name }}" == 'push' ]; then
            pip3 install tccli
            tccli configure set secretId ${{ secrets.COS_ID }}
            tccli configure set secretKey ${{ secrets.COS_KEY }}
            tccli configure set region ${{ secrets.COS_REGION }}
            tccli cdn PurgePathCache --Paths '["https://hstream.io/", "https://hstream-static.emqx.net/"]' --FlushType delete
          else
            echo "Ignoring."
          fi
